body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.controls { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  font-family: sans-serif;
  height: 100vh;
  padding-right: 10px;
  align-items: center;
}

.controls div {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}

.controls label { 
  margin-left: 2px;
}

.controls button { 
  width: 90%;
}

.options-container { 
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.spaced {
  font-size: 100px;
  letter-spacing: 0.6em;
}

.vec-layer {
  position: relative;
  top: 0px;
  left: 0px;
}

.three-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

.grad-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(
    circle,
    rgb(50, 50, 50) 0%,
    rgb(25, 25, 25) 50%,
    rgb(0, 0, 0) 100%
  );
}

.handle:hover {
  fill: red !important;
}

circle {
  transition: r 0.02s linear;
  transition: opacity 0.25s linear;
}

svg text {
  font-family: sans-serif;
  font-size: 12px;
}

select {
  position: absolute;
  top: 20px;
  left: 20px;
}

.explain {
  position: absolute;
  top: 20px;
  width: 35vw;
  right: 50px;
  font-size: 16px;
  line-height: 1.2em;
  user-select: text;
  /* font-family: sans-serif; */
}

code {
  font-size: 14px;
}
