body {
  background-color: #fafafa;
}

#blog {
  font-family: 'Open Sans', sans-serif;
  max-width: 100ch;
  margin: 100px auto;
}

#blog img {
  margin-top: 20px;
  max-width: 90ch;
}

.caption p {
  margin-bottom: 20px;
  color: gray;
  font-size: 14px;
}

.image-row-2 img {
  width: 40%;
  margin-left: 40px;
}

.footnote-link {
  font-size: 12px;
}

code.block {
  display: block;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 80px;

  padding: 10px;
  background-color: #eee;
  border-radius: 2px;
}

code:not(.block) {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 1px;
}


hr {
  color: #ddd;
  border-top: 1px solid;
  border-bottom: none;
  /* height: 1px; */
}

.footnotes li {
  margin-top: 10px;
}

a.back {
  color: gray;
  font-size: 12px;
}